extends layout

block content
  h1= title
  h1= gg
  a(id="index" href="/") Retour

  form(id="addWrestler" name="addWrestler" method="post" action="/addwrestler")
    input(type="text" id="newName" name="newName" placeholder="Wrestler full name...")
    br
    <label for="myfile">Add an image :</label>
    br
    <input type="file" id="newPicture" name="newPicture">
    br
    button(type="submit") Submit wrestler
