extends layout

block content
  h1= title
  p Bienvenue sur le site #{title}

  a(id="add" href='/add') Ajouter

  div(id="wrestlers")
    each per in personnes
      p= per.name
      img(src="./images/"+per.picture)
      br
      a(id="modify" href='/modify/'+per._id) Modifier
      form(id="supprWrestler" name="supprWrestler" method="post" action="/supprwrestler")
        <input type="hidden" id="toDeleteId" name="toDeleteId" value=per._id>
        button(type="submit") Supprimer

